table table.ships, table.ships {
  margin: auto;
  width: calc(100% - 140px);
}

table table.ships th, table.ships th {
  background-color: #775533;
}
table table.ships td, table.ships td {
  background-color: #000;
  text-align: center;
}

table table.aliens, table.aliens {
  margin: auto;
  width: calc(100% - 140px);
}

table table.aliens th, table.aliens th {
  background-color: #775533;
}
table table.aliens td, table.aliens td {
  background-color: #000;
  text-align: center;
}

table table.items, table.items {
  margin: auto;
  width: calc(100% - 140px);
}

table table.items th, table.items th {
  background-color: #775533;
}

table table.items td, table.items td {
  background-color: #000;
}

table table.items td dl, table.items td dl {
  padding-left: 35px;
}

table table.platforms, table.platforms {
  margin: auto;
  width: calc(100% - 140px);
}
